
    $primary-color:#fff;
    $accent-color: green;
    $text-color: rgb(255, 255, 255);

    $font-weights: (
        "regular": 400,
        "medium": 500,
        "strong": 800
         );

body {
    color: $text-color;
    background : $accent-color;
    font-weight: map-get($font-weights, medium);
}  
.main{
    width:80%;
    margin:0 auto;
#{&}__paragraph {
   font-weight: map-get($font-weights, medium);
    text-align:justify;
 &:hover{
        color: rgb(0, 0, 0);
    }
      
}

}